/* Estilos Gerais */
body {
    font-family: orbitron, sans-serif; /* Altere para a fonte usada em sua página principal, se diferente */
    background-color: #000; /* Fundo preto */
    color: #fff; /* Texto branco */
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Estilos para o Conteúdo Principal */
.content {
    width: 80%;
    max-width: 800px; /* Ajuste a largura máxima conforme necessário */
    margin: 0 auto;
    padding: 20px;
    letter-spacing: 2px;
    text-align: left;
}

/* Estilos para Cabeçalhos */
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

/* Estilos para o Texto Legal */
.legal-text p {
    text-align: justify; /* ou 'justify' para justificar o texto */
    margin-top: 10px;
    color: #ccc;
}

/* Estilos para Links */
a {
    color: #007bff; /* Cor do link */
    text-decoration: none;
}

a:hover {
    color: #0056b3; /* Cor do link ao passar o mouse */
}